@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
.tlWNtgfi{
  background-color: white;
  user-select: none;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: auto;
  font-family: 'Titillium Web', sans-serif;
  cursor: none;
  position: absolute;
  top: 0px;
  left: 0px;
}
.anchortag{
  cursor: pointer;
  color: black;
  background-color: white;
  transition: all 0.33s ease-out;
  font-family: 'Titillium Web', sans-serif;
  pointer-events: all;
}
.anchortag:hover{
  background-color: black;
  color: white;
  cursor: pointer;
  border-bottom-color: rgb(111,0,255);
  pointer-events: all;
}
.anchortag:visited{
  color: black;
  background-color: white;
  cursor: pointer;
  pointer-events: all;
}

  
